.container {
  background-color: #24232b;
  padding: 24px;
}

.header {
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 24px;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #2a8b8b;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.copy {
  height: 30px;
  font-size: 10px;
}

.length {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 24px;
}

.length span {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}

.checkboxes {
  display: grid;
  grid-template-columns: auto auto;
  font-size: 16px;
  font-weight: 700;
  color: white;
  gap: 8px;
}

.checkboxes label {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 25px;
}

.generate {
  width: 100%;
  font-size: 20px;
  padding: 20px;
}

.error {
  color: red;
  font-size: 16px;
  font-weight: 700;
}

.strength {
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 24px;
  gap: 8px;
}
